<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>word clouds</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="d-flex w-100 flex-column">
    <header class="masthead mb-auto">
        <h3 class="masthead-brand">buzzword bingo</h3>
        <p class="nav-justified">finding the trends of a hackathon in 2018.</p>
        <nav class="nav nav-masthead">
            <a href="/" class="nav-link">bingo</a>
            <a href="cloud" class="nav-link active">word clouds</a>
        </nav>
    </header>
</div>

<main role="main" class="inner">
    <h3>hackupc 2018</h3>
    <img src="img/wordcloud-slack.png" alt="wordcloud of the hackupc 2018 slack">
</main>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>