<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>buzzword bingo</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cover.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="d-flex w-100 flex-column">
    <header class="masthead mb-auto">
        <h3 class="masthead-brand">buzzword bingo</h3>
        <p class="nav-justified">finding the trends of a hackathon in 2018.</p>
        <nav class="nav nav-masthead">
            <a href="/" class="nav-link active">bingo</a>
            <a href="cloud" class="nav-link">word clouds</a>
        </nav>
    </header>
</div>


<main role="main" class="inner cover">
    <div class="grid">
        <item>
            <p>ml</p>
            <p class="byline">machine learning</p>
        </item>
        <item>
            <p>iot</p>
            <p class="byline">internet of things</p>
        </item>
        <item>
            <p>ux</p>
            <p class="byline">user experience</p>
        </item>
        <item>
            <p>crypto</p>
            <p class="byline">distributed ledgers</p>
        </item>
        <item>
            <p>ai</p>
            <p class="byline">artificial intelligence</p>
        </item>
        <item>
            <p>ui</p>
            <p class="byline">user interface</p>
        </item>
        <item>
            <p>rl</p>
            <p class="byline">reinforcement learning</p>
        </item>
        <item>
            <p>smart</p>
            <p class="byline">smart devices</p>
        </item>
        <item>
            <p>ar</p>
            <p class="byline">augmented reality</p>
        </item>
        <item>
            <p>rust</p>
            <p class="byline">rust language</p>
        </item>
        <item>
            <p>btc</p>
            <p class="byline">blockchain</p>
        </item>
        <item>
            <p>agile</p>
            <p class="byline">agile paradigm</p>
        </item>
        <item class="score">
            <p>*.js</p>
            <p class="byline">free space</p>
        </item>
        <item>
            <p>µs</p>
            <p class="byline">microservice</p>
        </item>
        <item>
            <p>restful</p>
            <p class="byline">RESTful API</p>
        </item>
        <item>
            <p>node</p>
            <p class="byline">node.js</p>
        </item>
        <item>
            <p>go</p>
            <p class="byline">go language</p>
        </item>
        <item>
            <p>bt5.0</p>
            <p class="byline">bluetooth 5.0</p>
        </item>
        <item>
            <p>d3</p>
            <p class="byline">data-driven development</p>
        </item>
        <item>
            <p>x-fv</p>
            <p class="byline"><i>x</i>-function virtualisation</p>
        </item>
        <item>
            <p>nfc</p>
            <p class="byline">near-field communication</p>
        </item>
        <item>
            <p>vr</p>
            <p class="byline">virtual reality</p>
        </item>
        <item>
            <p>eth</p>
            <p class="byline">ethereum</p>
        </item>
        <item>
            <p>sdn</p>
            <p class="byline">software-defined networking</p>
        </item>
        <item>
            <p>kotlin</p>
            <p class="byline">kotlin language</p>
        </item>
    </div>
</main>

<p class="reset"><a href="/">reset</a></p>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bingo.js"></script>
</body>
</html>